[Unit]
Description=Data Registry API (prd)
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/data-registry-api-prd
ExecStart=/home/ec2-user/data-registry-api-prd/venv/bin/python -m dataregistry.main -e .env serve --port 443
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
