[Unit]
Description=Data Registry API (dev)
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/data-registry-api-qa
ExecStart=/home/ec2-user/data-registry-api-qa/venv/bin/python -m dataregistry.main -e .env serve --port 8000
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
